body {
  /* background: #eff3f6; */
  font-family: "Noto Sans KR";
  /* dr 변경 210630 */
  font-weight: 400;
}


/* #wrap{
width: 1500px;
height: 845px;
display: inline-flex;
} */

/* 샘플 화면 메뉴 스타일 */

nav {
  flex-direction: column;
  width: 220px;
  height: 100%;
  border-right: 1px solid rgba(104, 144, 129, 0.2);
  color: #0b2239;
}

nav p {
  font-size: 18px;
  font-weight: 700;
  margin: 36px auto 160px;
  letter-spacing: -0.8px;
  text-align: center;
}

ul.navi li a {
  display: block;
  font-size: 18px;
  color: rgba(11, 34, 57, 0.5);
  text-align: right;
  letter-spacing: -0.8px;
  margin: 60px 20px 0;
  position: relative;
  float: right;
}

ul.navi li a:hover,
ul.navi li a.focus {
  color: rgba(11, 34, 57, 1);
}

ul.navi li a.focus {
  color: rgba(11, 34, 57, 1);
  font-weight: 600;
}

ul.navi li a.focus::after {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #0b2239;
  position: absolute;
  top: 6px;
  right: -25px;
  content: '';
}


/* section{
margin: 55px auto;
} */


/* 유튜브 스타일 */

div.pc {
  width: 100%;
  /*width: 100%;*/
  height: 675px;
  background: #f7fafb;
  overflow: hidden;
  position: relative;
}

div.mobile {
  width: 375px;
  height: 675px;
  background: #f7fafb;
  border: 8px solid #fff;
  border-radius: 15px;
  box-shadow: 10px 17px 41px 0 rgba(212, 220, 233, 0.7);
  overflow: hidden;
  float: left;
}

article.header {
  width: 100%;
  background: #0b2239;
}

article.header ul {
  margin-left: 18px;
  padding: 10px 0;
}

article.header ul li {
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

article.header ul li:nth-child(2) {
  background: #2bc48a;
}

.header span i {
  font-size: 11px;
  color: #fff;
  padding: 10px 15px;
}

div.pc article.contents {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  position: relative;
}


/* 채팅 영역 스타일 */

div.pc .chat {
  width: 470px;
  position: relative;
}

div.moblie .chat {
  width: 100%;
  height: 435px;
}


/* 로그인 스타일 */

.login {
  width: 280px;
  background: #fff;
  box-shadow: 3px 4px 8px 0 rgba(240, 240, 240, 0.5);
  border: 1px solid #eaeaea;
  box-sizing: border-box;
  display: none;
}

.pc .login {
  margin: 135px auto 0;
}

.mobile .login {
  margin: 45px auto 0;
}

.login p.login-title {
  font-size: 14px;
  letter-spacing: -0.64px;
  color: #fff;
  padding: 17px 99px;
  background: #2bc48a;
}

.login .profile {
  width: 240px;
  margin: 20px auto 0;
}

.login .profile p,
.login .room label {
  font-size: 14px;
  color: #999;
  display: block;
}

.login .profile p,
.login .name label {
  font-size: 14px;
  color: #999;
  display: block;
}

.login .profile ul {
  display: inline-block;
  margin-top: 7px;
}

.login .profile ul li a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff;
  border: 1px solid #efefef;
  box-sizing: border-box;
  overflow: hidden;
  display: inherit;
  opacity: 0.5;
}

.login .profile ul li a:hover {
  border: 3px solid #2bc48a;
  opacity: 1;
}

.login .profile ul li a.active {
  border: 3px solid #2bc48a;
  opacity: 1;
}

.login .room {
  width: 240px;
  margin: 20px auto 0;
}

.login .room input[type="text"] {
  width: 240px;
  height: 24px;
  border: 1px solid #ededed;
  border-radius: 0;
  outline: 0;
  margin: 10px 0 15px;
}

.login .name {
  width: 240px;
  margin: 20px auto 0;
}

.login .name input[type="text"] {
  width: 240px;
  height: 24px;
  border: 1px solid #ededed;
  border-radius: 0;
  outline: 0;
  margin: 10px 0 15px;
}

.login .name input:focus {
  border: 1px solid #2bc48a;
}

.login button {
  appearance: none;
  font-size: 12px;
  color: #6c7b85;
  background: #e3e9ed;
  padding: 7px 13px;
  border: 0;
  outline: 0;
  margin: 0 auto 20px;
  display: block;
}

.login button:hover {
  cursor: pointer;
  background: #2bc48a;
  color: #fff;
}


/* 에러 팝업 210628 추가*/

.errorpopup {
  line-height: 1.5;
  font-size: 14px;
  width: 330px;
  position: absolute;
  top: calc(50% - 80px);
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  padding: 30px 20px;
  box-sizing: border-box;
  z-index: 1003;
  background: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  display: none;
}

.errorpopup p i {
  color: #dd2c00;
  font-size: 30px;
  margin-bottom: 10px;
}

.popupbtn {
  font-size: 13px;
  display: inline-block;
  clear: both;
  padding: 5px 15px;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  margin: 10px 10px 0;
}

.popupbtn:hover {
  background: #2bc48a;
}

.custompopup {
  line-height: 1.5;
  font-size: 14px;
  width: 330px;
  position: absolute;
  top: calc(50% - 80px);
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  padding: 30px 20px;
  box-sizing: border-box;
  z-index: 100;
  background: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  display: none;
}


/* 채팅 도움말 내용 */

.use_help {
  display: none;
  /* seoeun 변경 210628 */
  position: absolute;
  top: 41px;
  left: 0;
  z-index: 100;
  width: 100%;
}

.help_contents {
  height: 524px;
  background: #FFF;
  padding: 15px 20px 15px 15px;
  box-sizing: border-box;
  overflow-y: auto;
}

.help_contents::-webkit-scrollbar {
  width: 6px;
}

.help_contents::-webkit-scrollbar-thumb {
  background: hsla(0, 0%, 42%, 0.3);
  border-radius: 3px;
}

.use_help ul {
  padding-bottom: 20px;
}

.use_help li {
  font-size: 12px;
  line-height: 1.5;
  padding: 0 0 5px 9px;
  color: #555;
}

.use_help li.help_title {
  font-size: 14px;
  color: #333;
  font-weight: bold;
}

.use_help li span.btn_send {
  font-size: 12px;
  padding: 3px 5px;
  color: #fff;
  margin: 0;
  display: inline-block;
}

.use_help li img {
  width: 100%;
}

.btn_help_close {
  font-size: 14px;
  color: #6c7b85;
  background: #e3e9ed;
  padding: 12px 9px;
  text-align: center;
  cursor: pointer;
}


/* 채팅 내용 스타일 */

.pc .chat_field {
  border: 1px solid #eaeaea;
  height: 565px;
}

.mobile .chat_field {
  height: 434px;
}

.chat_field {
  width: 100%;
  background: #fff;
  box-shadow: 6px 11px 21px 0 rgba(212, 220, 233, 0.2);
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  display: block;
}


/* 채팅방 이름 */

.chat_name {
  font-size: 15px;
  color: #fff;
  background: #2bc48a;
  padding: 15px 15px;
  box-sizing: border-box;
}

.party_name {
  font-size: 15px;
  color: #fff;
  background: #2bc48a;
  padding: 12px 15px;
  box-sizing: border-box;
}

.chat_name ul li {
  display: inline-block;
  vertical-align: middle;
}

.chat_name ul li:first-child {
  width: 347px;
  display: inline-flex;
}

.mobile .chat_name ul li:first-child {
  width: 310px;
  text-align: left;
}

.mobile .chat_name ul.like li:nth-child(2) {
  width: 80px;
  /* dr 변경 210624 */
  text-align: right;
  font-size: 12px;
  opacity: 0.8;
}

.mobile .chat_name ul.like li:last-child i:hover {
  color: #fff;
}


/* dr 변경 210630 */

.chat_name ul li a {
  color: #fff;
  display: inline-block;
  cursor: pointer;
}

.chat_name .gather-file_btn {
  font-weight: 400;
  color: #fff;
  cursor: pointer;
  margin: 0 5px;
}

.chat_name ul li a:hover {
  text-decoration: underline;
}

.mobile .chat_name ul li:nth-child(3) a {
  font-size: 15px;
  margin-right: 5px;
}


/*seoeun 변경 210701 */

.pc .chat_name ul li:last-child a {
  font-size: 15px;
  margin-left: 10px;
}


/* 채팅 대화 내용 */

.pc .chat_contents {
  width: 100%;
  max-height: 426px;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 12px;
  color: #333;
  line-height: 1.5;
}

.pc .chat_contents::-webkit-scrollbar {
  width: 6px;
}

.pc .chat_contents::-webkit-scrollbar-thumb {
  background: hsla(0, 0%, 42%, 0.3);
  border-radius: 3px;
}

.mobile .chat_contents {
  width: 100%;
  max-height: 351px;
  /* dr 변경 210630 */
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 12px;
  color: #333;
  line-height: 1.5;
}


/* 대화 내용 스타일 */

.entery,
.content,
.notice,
.whisper,
.chatout,
.warn {
  margin: 15px;
}

.notice,
.whisper {
  background: #f4f4f4;
  padding: 12px;
  display: flex;
}

.entery {
  color: #2a9956;
  text-align: center;
}

.content .profile-img {
  padding: 10px;
  display: inline-block;
  border: 1px solid #efefef;
  border-radius: 10px;
  vertical-align: middle;
  margin-right: 5px;
}

.content .name {
  color: #999;
  margin-right: 5px;
}


/* dr 변경 210626 */

.content .comment {
  color: #333;
}

.notice i {
  color: #fc3232;
  padding-right: 12px;
}

.notice span {
  color: #666;
}

.whisper i {
  color: #1d75bd;
  padding-right: 12px;
}

.whisper .name {
  color: #1d75bd;
  font-weight: bold;
}

.whisper .comment {
  color: #666;
}

.chatout {
  color: #fc3232;
  text-align: center;
}


/* 대화명 클릭 시 노출 팝업 스타일 */

.popupLayer {
  display: none;
  background: #fff;
  box-shadow: 3px 6px 10px 0 rgba(177, 184, 188, 0.5);
  font-size: 14px;
}

.popup_content li {
  margin: 10px 15px;
}

.popup_content li i {
  padding-right: 6px;
}

.popup_content li a {
  color: #666;
}

.popup_content li a:hover {
  color: #333;
}

#whisper {
  display: none;
}

#whisper form {
  display: inline-flex;
  align-items: center;
}

#whisper input {
  border: 1px solid #eaeaea;
  font-size: 12px;
  padding: 7px 5px;
  outline: none;
}

#whisper button {
  font-size: 12px;
  color: #fff;
  background: #2bc48a;
  outline: none;
  padding: 7px;
  border: none;
}


/* 메시지 작성 스타일 */

.pc .chat_input {
  width: 100%;
  position: absolute;
  bottom: 40px;
  background: #fff;
  border-top: 1px solid #f4f4f4;
  box-sizing: border-box;
}

.mobile .chat_input {
  width: 100%;
  position: absolute;
  bottom: 0;
  background: #fff;
  border-top: 1px solid #f4f4f4;
  box-sizing: border-box;
}

.mobile .chat_input div {
  display: inline-block;
}

.pc .chat_input .name {
  font-size: 12px;
  color: #2a9956;
  padding: 12px 12px 5px;
}

.pc .chat_input .textbox {
  font-size: 12px;
  color: #333;
}

.mobile .chat_input .profile_img {
  width: 24px;
  height: 24px;
  border: 1px solid #efefef;
  border-radius: 50%;
  margin: 7px 0 7px 9px;
  box-sizing: border-box;
  vertical-align: top;
}

.pc .textbox[contenteditable=true] {
  color: #333;
  font-size: 12px;
  padding: 0 12px 12px;
  line-height: 18px;
  box-sizing: border-box;
}

.mobile .textbox[contenteditable=true] {
  width: 279px;
  /* dr 변경 210630 */
  min-height: 37px;
  color: #333;
  font-size: 12px;
  line-height: 1.5;
  box-sizing: border-box;
  vertical-align: middle;
  padding: 10px;
  border-right: 1px solid #efefef;
}

[contenteditable=true]:empty:before {
  content: attr(placeholder);
  color: #999;
  display: block;
}

.room::placeholder {
  color: #999;
  font-style: italic;
  font-size: 0.7em;
}

.name::placeholder {
  color: #999;
  font-style: italic;
  font-size: 0.7em;
}


/* 6/30 수정된 내용(mobile 프로필 이미지 추가) */

.mobile .profile_img {
  width: 26px;
  height: 26px;
  border: 1px solid #efefef;
  border-radius: 50%;
  box-sizing: border-box;
  vertical-align: top;
}

.mobile .chat_input .profile_img {
  margin: 8px 0 8px 10px;
}

.mobile .content ul li {
  display: inline-block;
  vertical-align: top;
}

.mobile .content ul .user_img {
  margin-right: 5px;
}

.mobile .content ul .user_img img {
  display: inline-block;
}

.mobile .content ul .user_comment {
  width: calc(100% - 35px);
  line-height: 1.5;
  margin: 4px 0;
}

.mobile .content ul .user_comment .name {
  display: inline-block;
  margin-right: 8px;
}

.chat_input_btn {
  width: 100%;
  height: 40px;
  background: #fff;
  position: absolute;
  bottom: 0;
}

.emoji,
.file,
.newchat-popup-file {
  float: left;
  position: relative;
}

.emoji a:hover,
.file a:hover,
.newchat-popup-file a:hover {
  color: #2bc48a;
}

.file a,
.newchat-popup-file a {
  font-size: 20px;
  color: #999;
  position: absolute;
  top: 10px;
  left: 40px;
  cursor: pointer;
}

.send {
  float: right;
  font-size: 14px;
  color: #999;
  display: flex;
  flex-direction: row;
}

.ico_emoji,
.ico_keyboard {
  font-size: 20px;
  color: #999;
  position: absolute;
  top: 10px;
  left: 10px;
  display: none;
}

.send li {
  vertical-align: middle;
}

.btn_send {
  background: #2bc48a;
  padding: 13px;
  margin-left: 10px;
}

.btn_send a {
  color: #fff;
  font-size: 12px;
}

.mobile .btn_send {
  float: right;
  padding: 12px;
  line-height: 14px;
  margin: 0;
}


/* 채팅 숨기기 및 보이기 버튼 스타일 */

.btn_hide,
.btn_show {
  font-size: 14px;
  color: #6c7b85;
  background: #e3e9ed;
  padding: 12px 9px;
  text-align: center;
  display: none;
  cursor: pointer;
}


/* button 공통 사용 스타일 */

.show {
  display: block;
}


/* 카카오톡 스타일 */

div.kakao {
  width: 375px;
  height: 675px;
  background: #e8f0f3;
  border: 8px solid #fff;
  border-radius: 15px;
  box-shadow: 10px 17px 41px 0 rgba(212, 220, 233, 0.7);
  overflow: hidden;
  position: relative;
  float: left;
}

.kakao .login {
  margin: 178px auto 0;
}

.talk_field {
  position: relative;
  height: 644px
}

.opponent_profile {
  width: 100%;
  background: #d5e3e8;
}

.opponent_profile ul {
  padding: 10px;
}

.opponent_profile ul li {
  display: inline-block;
  font-size: 16px;
  color: #333;
  vertical-align: middle;
}

.kakao .profile_img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #efefef;
  background: #fff;
  box-sizing: border-box;
}

.kakao .room_img {
  /*seoeun 추가(채팅방 아이콘) 210628 */
  width: 30px;
  height: 30px;
}

.talk_contents {
  height: 524px;
  padding: 15px;
  overflow-y: auto;
}

.talk_contents .notice {
  font-size: 12px;
  text-align: center;
  color: #666;
  background: none;
  display: block;
  padding: 0;
  margin: 0 auto 25px;
}

.opponent {
  margin-bottom: 25px;
  display: flex;
  justify-content: flex-start;
}

.user {
  margin-bottom: 25px;
  display: flex;
  justify-content: flex-end;
}

.opponent div {
  display: inline-flex;
}

.user div {
  display: inline-flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.opponent_talk {
  margin-left: 13px;
  position: relative;
}

.user_talk {
  margin-right: 13px;
  position: relative;
}

.opponent_name,
.user_name {
  width: 100%;
  margin-bottom: 6px;
  font-size: 12px;
  color: #333;
}

.user_name {
  text-align: right;
}

.opponent_text_balloon {
  max-width: 200px;
  padding: 10px;
  background: #fff;
  font-size: 12px;
  color: #333;
  border-radius: 5px;
  line-height: 1.5;
  word-break: break-all;
  /* seoeun 추가 210628 */
}

.opponent_text_balloon::before {
  content: url("../img/opponent_text_balloon.svg");
  position: absolute;
  top: 20px;
  left: -10px;
}

.user_text_balloon {
  max-width: 200px;
  padding: 10px;
  background: #a8e8d1;
  font-size: 12px;
  color: #333;
  border-radius: 5px;
  line-height: 1.5;
  word-break: break-all;
  /* seoeun 추가 210628 */
}

.user_text_balloon::after {
  content: url("../img/user_text_balloon.svg");
  position: absolute;
  top: 20px;
  right: -10px;
}

.talk_input {
  width: 100%;
  background: #fff;
  position: absolute;
  bottom: 0;
}

.talk_input .textbox {
  width: 310px;
  float: left;
}

.talk_input .textbox[contenteditable=true] {
  width: 316px;
  min-height: 40px;
  color: #333;
  font-size: 12px;
  line-height: 1.5;
  box-sizing: border-box;
  vertical-align: middle;
  padding: 9px 10px;
  border-right: 1px solid #efefef
}

.talk_input .btn_send {
  padding: 12px;
  margin: 0;
  float: right;
}


/* 라이브커머스 스타일 */

div.livecommerce {
  width: 375px;
  height: 675px;
  border-radius: 15px;
  box-shadow: 10px 17px 41px 0 rgba(212, 220, 233, 0.7);
  overflow: hidden;
  position: relative;
  border: 8px solid #fff;
  float: left;
}

.livecommerce .video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  /* 임시 배경 */
  background:  no-repeat;
  /* dr 변경 210630 */
  background-size: cover;
}

.dim {
  min-width: 100%;
  min-height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  /* dr 변경 210630 */
  /*display: none;*/
  /* dr 변경 210630 */
}

.livecommerce .login {
  margin: 247px 40px;
  box-shadow: 3px 4px 8px 0 rgba(0, 0, 0, 0.3);
  display: block;
  position: absolute;
  z-index: 100;
}

.livecommerce .title {
  width: 100%;
  height: 139px;
  position: absolute;
  top: 0;
  left: 0;
  background: url('../img/livecommerce_titleBG.png');
}

.livecommerce .title p {
  width: 335px;
  font-size: 14px;
  color: #fff;
  line-height: 1.7;
  margin: 20px auto;
  text-align: left;
}

.livecommerce .title .close {
  /* dr 생성 210630 */
  text-align: right;
}

.livecommerce .title span {
  font-size: 11px;
  color: #fff;
  border-radius: 3px;
  background: #ec2014;
  padding: 2px 5px;
  margin-right: 6px;
}

.livecommerce .chat {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 340px;
  background: url('../img/livecommerce_chatBG.png');
  margin-top: 196px;
}

.livecommerce .chat_contents {
  padding: 0 15px;
  margin-top: 80px;
  height: 180px;
  overflow-y: auto;
  font-size: 12px;
  color: #fff;
}

.livecommerce .chat_contents::-webkit-scrollbar {
  width: 3px;
}

.livecommerce .chat_contents::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0);
}

.livecommerce .chat_contents::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

.livecommerce .chat_contents p {
  padding: 5px 0;
  line-height: 1.5;
}

.livecommerce .marketer {
  text-align: center;
  color: #fff000;
}

.livecommerce .name {
  color: #c3c3c3;
}


/* dr 변경 210625 */

.livecommerce span.name {
  color: #c3c3c3;
  margin-right: 5px;
}


/* dr 변경 210625 */

.livecommerce .livenotice {
  text-align: center;
  color: #00ff7e;
}

.livecommerce .chat_input {
  margin: 20px 15px;
  border-radius: 20px;
  border: 1px solid #fff;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  display: inline-flex;
  background: rgba(0, 0, 0, 0.5);
}

.livecommerce .chat_input .textbox {
  width: 220px;
  color: #fff;
  font-size: 12px;
  margin: 0 15px;
  padding: 10px 0;
  line-height: 1.5;
}

.livecommerce .chat_input .send {
  align-items: center;
}

.livecommerce .chat_input .send a {
  font-size: 12px;
  color: #fff;
  padding: 10px;
  border-left: 1px solid #b0b0b0;
}

.livecommerce .like i {
  /* dr 변경 210625 */
  position: absolute;
  bottom: 35px;
  right: 21px;
  font-size: 18px;
  color: #fff;
  transform: all;
  transition: 0.2s;
}

.livecommerce .like span {
  /* dr 변경 210625 */
  width: 50px;
  position: absolute;
  bottom: 20px;
  right: 5px;
  font-size: 8px;
  color: #fff;
  transform: all;
  transition: 0.2s;
  text-align: center;
}

.livecommerce .like i:hover {
  /* dr 변경 210625 */
  position: absolute;
  bottom: 33px;
  right: 18px;
  font-size: 24px;
  color: #ff2d2d;
}


/* 추가 CSS 210722 */

.download_pc {
  margin-left: 810px;
}

.download_mobile {
  margin-left: 20px;
  float: left;
}

.download_mobile .download_btn {
  display: block;
}

.download_pc .download_btn {
  display: inline-block;
}

.download_btn a {
  display: block;
  width: 200px;
  padding: 15px 0;
  text-align: center;
  background: #dae3e8;
  color: #6c7b85;
  border-radius: 8px;
  margin-bottom: 10px;
}

.download_btn a:hover {
  background: #2bc48a;
  color: #fff;
}


/*section.chatintro{ margin: 55px 0; }*/

.chatintro h1 {
  text-align: center;
  font-size: 25px;
  color: #0b2239;
  line-height: 1.3;
  margin-bottom: 50px;
  font-weight: normal;
}

.chatintro div {
  margin: 0 auto;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
}

.chatintro div img {
  width: 200px;
  float: left;
}

.chatintro .intro {
  display: inline-block;
  color: #666;
  margin: 0 0 0 20px;
}

.chatintro .intro p.title {
  font-size: 20px;
  font-weight: bold;
  color: #2bc48a;
  line-height: 2;
}

.chatintro .intro p.subtitle {
  font-size: 14px;
  line-height: 1.2;
}


/* 211020 추가CSS */

.admin {
  color: #1342dc;
}

.admin a.name {
  font-weight: bold;
  color: #1342dc;
}

.admin_kakao_name {
  width: 100%;
  margin-bottom: 6px;
  font-size: 12px;
  font-weight: bold;
  color: #1342dc;
}

.admin_livecommerce {
  color: #68acff;
}

.admin_livecommerce span.name {
  font-weight: bold;
  margin-right: 5px;
  color: #68acff;
}

.admin_livecommerce span.adm_whisper {
  margin-right: 5px;
  color: #68acff;
}

.admin_text_balloon {
  max-width: 200px;
  padding: 10px;
  background: #A3E4FB;
  font-size: 12px;
  color: #333;
  border-radius: 5px;
  line-height: 1.5;
  word-break: break-all;
  /* seoeun 추가 210628 */
}

.admin_text_balloon::before {
  content: url("../img/admin_text_balloon.svg");
  position: absolute;
  top: 20px;
  left: -10px;
}


/* 20211213 (모바일 버전) width영역을 넘어서 한줄로 노출되는것 수정 */

.mobile .chat_contents .content ul span.comment {
  word-break: break-all;
}


/* 20211213 (PC 버전) width영역을 넘어서 한줄로 노출되는것 수정 */

.pc .chat_contents .content span.comment {
  word-break: break-all;
}


/* 20220207 (PC 버전) 채널개설 및 초대 기능 추가 */

.als-prev,
.als-next {
  position: absolute;
  cursor: pointer;
  clear: both;
  top: 15px;
  width: 10px;
  height: 20px;
}

.als-prev {
  left: 0;
}

.als-next {
  right: 0;
}

.als-container {
  position: relative;
  width: 100%;
  margin: 0px auto;
}

.als-viewport {
  position: relative;
  overflow: hidden;
  margin: 10px auto 0;
}

.als-wrapper {
  position: relative;
}

.als-item {
  position: relative;
  cursor: pointer;
  display: inline-block;
  border-radius: 36px;
  border: 2px solid #efefef;
  opacity: 0.5;
  float: left;
  margin: 0 4px;
  overflow: hidden;
}

.als-item.active {
  border: 2px solid #2bc48a;
  opacity: 1;
}

.als-item p {
  padding: 18px;
}

.pc .chat_name ul {
  display: inline-flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
}

.pc .chat_name .chat-room-name {
  max-width: 130px;
  word-break: break-all;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-right: 3px;
}

.pc .chat_name a.chat-user-list_btn {
  margin: 0 5px;
  font-size: 100%;
}

.pc .chat_name a.help {
  font-size: 13px;
  line-height: 16px;
  font-weight: 100;
}

a.chat-user-list_btn i {
  margin-right: 5px;
}

.channel-popup-dim {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: none;
}

.channel-popup-dim.active {
  display: block
}

.channel-popup-dim>.chat-user-list-dim,
.channel-popup-dim>.newchat-invite-dim {
  display: none;
}

.channel-popup-dim.active>.chat-user-list-dim.active,
.channel-popup-dim.active>.newchat-invite-dim.active {
  display: block;
}

.chat-user-list-wrap {
  width: 300px;
  margin: 157px auto;
  background: #fff;
}

.chat-user-list-title {
  width: 100%;
  background: #73818b;
  color: #fff;
  display: inline-flex;
  justify-content: space-between;
  padding: 16px 19px;
  box-sizing: border-box;
  font-weight: 100;
}

.chat-user-list-contents {
  height: 192px;
  overflow-y: auto;
  overflow-x: hidden;
  border: 1px solid #e7e9ea;
  box-sizing: border-box;
}

.chat-user-list-contents::-webkit-scrollbar {
  width: 6px;
}

.chat-user-list-contents::-webkit-scrollbar-thumb {
  background: hsla(0, 0%, 42%, 0.3);
  border-radius: 3px;
}

.chat-user {
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
  padding: 10px 17px;
}

.invite-check input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]+label {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1px solid #ddd;
  position: relative;
  cursor: pointer;
}

input[type="checkbox"]:checked+label::after {
  content: '✔';
  font-size: 14px;
  width: 15px;
  height: 15px;
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  color: #333
}

.user-profile-img {
  padding: 15px;
  border-radius: 15px;
  border: 1px solid #efefef;
  margin: 0 5px;
}

.user-name {
  word-break: break-all;
  white-space: nowrap;
  width: 100px;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 13px;
  color: #000;
  margin-right: 5px;
}

.profile-1 {
  background: url("../img/profile/1.png");
  background-size: cover;
  background-position: center;
}

.profile-2 {
  background: url("../img/profile/2.png");
  background-size: cover;
  background-position: center;
}

.profile-3 {
  background: url("../img/profile/3.png");
  background-size: cover;
  background-position: center;
}

.profile-4 {
  background: url("../img/profile/4.png");
  background-size: cover;
  background-position: center;
}

.profile-5 {
  background: url("../img/profile/5.png");
  background-size: cover;
  background-position: center;
}

.profile-6 {
  background: url("../img/profile/6.png");
  background-size: cover;
  background-position: center;
}

.profile-7 {
  background: url("../img/profile/7.png");
  background-size: cover;
  background-position: center;
}

.profile-8 {
  background: url("../img/profile/8.png");
  background-size: cover;
  background-position: center;
}

.profile-9 {
  background: url("../img/profile/9.png");
  background-size: cover;
  background-position: center;
}

.profile-10 {
  background: url("../img/profile/10.png");
  background-size: cover;
  background-position: center;
}

.profile-11 {
  background: url("../img/profile/11.png");
  background-size: cover;
  background-position: center;
}

.profile-12 {
  background: url("../img/profile/12.png");
  background-size: cover;
  background-position: center;
}

.profile-13 {
  background: url("../img/profile/13.png");
  background-size: cover;
  background-position: center;
}

.profile-14 {
  background: url("../img/profile/14.png");
  background-size: cover;
  background-position: center;
}

.profile-15 {
  background: url("../img/profile/15.png");
  background-size: cover;
  background-position: center;
}

.profile-16 {
  background: url("../img/profile/16.png");
  background-size: cover;
  background-position: center;
}

.profile-17 {
  background: url("../img/profile/17.png");
  background-size: cover;
  background-position: center;
}

.profile-18 {
  background: url("../img/profile/18.png");
  background-size: cover;
  background-position: center;
}

.profile-19 {
  background: url("../img/profile/19.png");
  background-size: cover;
  background-position: center;
}

.profile-20 {
  background: url("../img/profile/20.png");
  background-size: cover;
  background-position: center;
}

.profile-21 {
  background: url("../img/profile/21.png");
  background-size: cover;
  background-position: center;
}

.profile-22 {
  background: url("../img/profile/22.png");
  background-size: cover;
  background-position: center;
}

.profile-23 {
  background: url("../img/profile/23.png");
  background-size: cover;
  background-position: center;
}

.profile-24 {
  background: url("../img/profile/24.png");
  background-size: cover;
  background-position: center;
}

.profile-25 {
  background: url("../img/profile/25.png");
  background-size: cover;
  background-position: center;
}

.profile-26 {
  background: url("../img/profile/26.png");
  background-size: cover;
  background-position: center;
}

.profile-27 {
  background: url("../img/profile/27.png");
  background-size: cover;
  background-position: center;
}

.profile-28 {
  background: url("../img/profile/28.png");
  background-size: cover;
  background-position: center;
}

.profile-29 {
  background: url("../img/profile/29.png");
  background-size: cover;
  background-position: center;
}

.profile-30 {
  background: url("../img/profile/30.png");
  background-size: cover;
  background-position: center;
}

.profile-31 {
  background: url("../img/profile/31.png");
  background-size: cover;
  background-position: center;
}

.profile-32 {
  background: url("../img/profile/32.png");
  background-size: cover;
  background-position: center;
}

.profile-33 {
  background: url("../img/profile/33.png");
  background-size: cover;
  background-position: center;
}

.profile-34 {
  background: url("../img/profile/34.png");
  background-size: cover;
  background-position: center;
}

.profile-35 {
  background: url("../img/profile/35.png");
  background-size: cover;
  background-position: center;
}

.profile-36 {
  background: url("../img/profile/36.png");
  background-size: cover;
  background-position: center;
}

.profile-37 {
  background: url("../img/profile/37.png");
  background-size: cover;
  background-position: center;
}

.profile-38 {
  background: url("../img/profile/38.png");
  background-size: cover;
  background-position: center;
}

.profile-39 {
  background: url("../img/profile/39.png");
  background-size: cover;
  background-position: center;
}

.profile-40 {
  background: url("../img/profile/40.png");
  background-size: cover;
  background-position: center;
}

.profile-41 {
  background: url("../img/profile/41.png");
  background-size: cover;
  background-position: center;
}

.profile-42 {
  background: url("../img/profile/42.png");
  background-size: cover;
  background-position: center;
}

.profile-43 {
  background: url("../img/profile/43.png");
  background-size: cover;
  background-position: center;
}

.profile-44 {
  background: url("../img/profile/44.png");
  background-size: cover;
  background-position: center;
}

.profile-45 {
  background: url("../img/profile/45.png");
  background-size: cover;
  background-position: center;
}

.profile-46 {
  background: url("../img/profile/46.png");
  background-size: cover;
  background-position: center;
}

.profile-47 {
  background: url("../img/profile/47.png");
  background-size: cover;
  background-position: center;
}

.profile-48 {
  background: url("../img/profile/48.png");
  background-size: cover;
  background-position: center;
}

#wrap>section>div>div.invite-popup-wrap>div.url-copy>form>label {
  cursor: pointer;
}

.chat-user-invite-btn {
  padding-top: 16px;
  padding-bottom: 16px;
  margin: 0 auto;
  width: 100%;
  display: block;
  background: #f4f5f5;
  text-align: center;
  color: #73818b;
  font-size: 13px;
  box-sizing: border-box;
}

.chat-user-invite-btn i {
  margin-right: 5px;
}

.newchat-invite-wrap {
  width: 300px;
  background: #fff;
  margin: 214px auto;
}

.newchat-invite-title {
  width: 100%;
  text-align: center;
  background: #73818b;
  color: #fff;
  font-weight: 100;
  padding: 16px 0;
}

.newchat-invite-contents {
  box-sizing: border-box;
  padding: 27px 0;
  width: fit-content;
  margin: 0 auto;
  text-align: center;
  color: #333;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.2;
}

.newchat-invite-contents span {
  max-width: 70px;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: bold;
  word-break: break-all;
  white-space: nowrap;
  display: inline-block;
  vertical-align: middle;
}

.newchat-invite-btn_wrap {
  width: 100%;
  border-top: 1px solid #e5e5e5;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.newchat-invite-btn_wrap a {
  width: 50%;
  text-align: center;
  border-right: 1px solid #e5e5e5;
  color: #333;
  font-size: 12px;
  padding: 13px 0;
  box-sizing: border-box;
  display: block;
}

.newchat-invite-btn_wrap a:hover {
  background: rgba(0, 0, 0, 0.05);
}


/* 20220208 (PC 버전) 새로운 채팅 기능 추가 */

.newchat-popup-wrap {
  width: 300px;
  height: 603px;
  background: #fff;
  position: absolute;
  top: -20px;
  left: -435px;
  z-index: 1;
  border-radius: 12px;
  border: 5px solid #fff;
  box-shadow: 5px 5px 20px rgb(0, 0, 0, 0.1);
  display: none;
  overflow: hidden;
}

.newchat-popup-wrap.active {
  display: block;
}

.newchat-popup-subwrap {
  width: 100%;
  height: 100%;
  position: absolute;
}

.newchat-popup-title {
  font-size: 15px;
  background-color: #73818b;
  padding: 9px 14px;
  cursor: move;
  overflow: overlay;
  display: inline-flex;
  color: #fff;
  font-weight: 100;
  width: 100%;
  box-sizing: border-box;
  justify-content: space-between;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.newchat-popup-title a {
  font-weight: 400;
  color: #fff;
  cursor: pointer;
  margin: 0 5px;
}

.newchat-popup-title a:hover {
  text-decoration: underline;
}

.newchat-popup-contents {
  height: 470px;
  overflow: overlay;
  word-break: break-all;
  font-size: 13px;
  line-height: 1.5;
}

.newchat-popup-contents::-webkit-scrollbar {
  width: 6px;
}

.newchat-popup-contents::-webkit-scrollbar-thumb {
  background: hsla(0, 0%, 42%, 0.3);
  border-radius: 3px;
}

.newchat-chat-contents {
  margin: 0 10px;
}

.newchat-comment-wrap {
  margin: 10px 0;
}

.newchat-comment-wrap .profile-img {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #dedede;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

.newchat-comment-wrap .user-name {
  color: #666;
  cursor: pointer;
  font-size: 13px;
}

.newchat-comment-wrap a:hover {
  text-decoration: underline;
}

.newchat-popup-input {
  width: 100%;
  min-height: 60px;
  position: absolute;
  bottom: 40px;
  background: #fff;
  border-top: 1px solid #f4f4f4;
  box-sizing: border-box;
}

.newchat-popup-input_btn {
  width: 100%;
  position: absolute;
  bottom: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.newchat-chat-contents .newchat-popupLayer {
  display: none;
  background: #fff;
  box-shadow: 3px 6px 10px 0 rgba(177, 184, 188, 0.5);
  font-size: 14px;
}

.newchat-popupLayer .popup_content li {
  margin: 10px 15px;
}

.newchat-popupLayer .popup_content li i {
  padding-right: 6px;
}

.newchat-popupLayer .popup_content li a {
  color: #666;
}

.newchat-popupLayer .popup_content li a:hover {
  color: #333;
}

.newchat-popupLayer #newchat-whisper {
  display: none;
}

.newchat-popupLayer #newchat-whisper form {
  display: inline-flex;
  align-items: center;
}

.newchat-popupLayer #newchat-whisper input {
  border: 1px solid #eaeaea;
  font-size: 12px;
  padding: 7px 5px;
  outline: none;
}

.newchat-popupLayer #newchat-whisper button {
  font-size: 12px;
  color: #fff;
  background: #73818b;
  outline: none;
  padding: 7px;
  border: none;
}

.newchat-popup-input {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 40px;
  padding: 0 12px;
  font-size: 13px;
}

.newchat-popup-input .newchat-myname {
  color: #ef8519;
  padding: 12px 0 5px;
  font-weight: bold;
}

.newchat-popup-input .newchat-textbox[contenteditable=true] {
  color: #333;
  padding-bottom: 12px;
  line-height: 18px;
  box-sizing: border-box;
}

.newchat-popup-input .newchat-emoji-contents {
  display: none;
  flex-wrap: wrap;
  background: #fff;
  padding-bottom: 10px
}

.newchat-popup-input .newchat-emoji-contents a {
  display: inline-table;
  width: fit-content;
  height: fit-content;
  padding: 4px;
}


/* seoeun 수정 210629 */

.newchat-popup-input .newchat-emoji-contents a:hover {
  background: rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.newchat-popup-input-btn {
  width: 100%;
  height: 40px;
  background: #fff;
  position: absolute;
  bottom: 0;
}

.newchat-popup-input-btn .btn_send {
  background-color: #73818b;
  border-bottom-right-radius: 10px;
}


/* 20220209 (PC 버전) 새로운 채팅 팝업 추가 */

.newchat-alret-dim {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 1;
  border-radius: 10px;
  display: none;
}

.newchat-alret-dim.active {
  display: block;
}

.newchat-alret-wrap {
  width: 260px;
  margin: 190px auto auto;
  background: #fff;
  border-radius: 5px;
  color: #333;
  text-align: center;
}

.newchat-alret-wrap .user-name {
  width: 72px;
}

.newchat-alret-wrap .chat-user-invite-btn i {
  margin-right: 5px;
}

.newchat-alret-title {
  padding: 25px 0 15px;
  font-weight: bold;
}

.newchat-alret-subtitle {
  font-size: 13px;
  line-height: 1.2;
}

.newchat-alret-subtitle .send-chat {
  display: inline-block;
  max-width: 70px;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: bold;
  word-break: break-all;
  white-space: nowrap;
  vertical-align: middle;
}

.newchat-alret-btn-wrap {
  border-top: 1px solid #efefef;
  margin-top: 15px;
  display: inline-flex;
  width: 100%;
  justify-content: space-around;
  font-size: 14px;
}

.newchat-alret-btn {
  border-right: 1px solid #efefef;
  cursor: pointer;
  padding: 13px 0;
  width: 50%
}

.newchat-alret-btn:hover {
  background: rgba(0, 0, 0, 0.05);
}

.newchat-alret-btn:last-child {
  border-right: 0;
}

.newchat-alret-wrap.end .newchat-alret-btn {
  width: 100%;
}

.newchat-user-list,
.out,
.closing,
.end,
.invite {
  display: none;
}

.newchat-alret-dim.active>.newchat-user-list.active,
.newchat-alret-dim.active>.out.active,
.newchat-alret-dim.active>.closing.active,
.newchat-alret-dim.active>.end.active,
.newchat-alret-dim.active>.invite.active {
  display: block;
}


/* 20220210 (PC 버전) 초대하기 추가 */

.invite-btn {
  z-index: 1;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.invite-btn a {
  padding: 10px 15px;
  background: #e3e9ed;
  width: fit-content;
  border-radius: 5px;
  color: #6c7b85;
  display: block;
  margin-top: 0;
  font-weight: 300;
  font-size: 14px;
}

.invite-btn a:hover {
  background: #2bc48a;
  color: #fff;
}

.invite-btn a i {
  margin-right: 5px;
}

.invite-popup-wrap {
  display: none;
  width: fit-content;
  height: fit-content;
  padding: 5px 20px;
  position: absolute;
  margin: 0 auto;
  z-index: 1001;
  background: #fff;
  box-sizing: border-box;
  border-radius: 5px;
  bottom: 45px;
  left: 115px;
  box-shadow: 7px 7px 10px rgb(0 0 0 / 10%);
}

.invite-popup-wrap.active {
  display: block;
}

.invite-popup-wrap .url-copy,
.invite-popup-wrap .url-receive-user {
  font-size: 14px;
  color: #333;
  padding: 15px 0;
}

.invite-popup-wrap .url-copy {
  border-bottom: 1px solid #efefef;
}

.invite-popup-wrap div form {
  width: 300px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  margin-top: 3px;
}

.url-copy form {
  border: 1px solid #efefef;
  padding: 5px 8px 5px 5px;
}

.url-copy input {
  width: 275px;
  border: 0;
  outline: 0;
}

.url-receive-user input {
  width: 250px;
  height: 29px;
  border: 1px solid #efefef;
  outline: 0;
  padding: 5px;
  box-sizing: border-box;
}

.url-receive-user button {
  padding: 0 10px;
  outline: none;
  border: 0;
  background: #2bc48a;
  color: #fff;
  height: 29px;
  box-sizing: border-box;
  cursor: pointer;
}


/* 20220215 (PC 버전) 이모티콘 탭 추가 및 수정 */

.chat-write-wrap {
  position: relative;
}

.emoji-wrap {
  width: 100%;
  background: #fff;
  border-top: 1px solid #efefef;
  display: none;
}

.newchat-emoji-wrap {
  width: 100%;
  background: #fff;
  border-top: 1px solid #efefef;
  display: none;
}

.emoji-subwrap,
.newchat-emoji-subwrap {
  display: none;
}

.emoji-subwrap.current,
.newchat-emoji-subwrap.current {
  display: block;
}

.emoji-content {
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-height: 115px;
  box-sizing: border-box;
  overflow: hidden;
  overflow-y: auto;
}

.newchat-emoji-content {
  padding: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-height: 70px;
  box-sizing: border-box;
  overflow: hidden;
  overflow-y: auto;
}

.emoji-content::-webkit-scrollbar {
  width: 6px;
}

.emoji-content::-webkit-scrollbar-thumb {
  background: hsla(0, 0%, 42%, 0.3);
  border-radius: 3px;
}

.newchat-emoji-content::-webkit-scrollbar {
  width: 6px;
}

.newchat-emoji-content::-webkit-scrollbar-thumb {
  background: hsla(0, 0%, 42%, 0.3);
  border-radius: 3px;
}

.emoji-content a,
.newchat-emoji-content a {
  line-height: 1.2;
  padding: 3px;
}

.emoji-content a:hover,
.emoticon-content a:hover,
.newchat-emoji-content a:hover {
  background: rgba(0, 0, 0, 0.1);
}

.emoticon-content {
  max-height: 135px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 10px 13px 10px 14px;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  background: #fff;
  box-sizing: border-box;
}

.newchat-emoji-subwrap .emoticon-content {
  max-height: 108px;
}

.emoticon-content::-webkit-scrollbar {
  width: 6px;
}

.emoticon-content::-webkit-scrollbar-thumb {
  background: hsla(0, 0%, 42%, 0.3);
  border-radius: 3px;
}

.emoticon-content a {
  width: 55px;
  height: 55px;
  padding: 3px;
  background-size: contain;
}

.emoji-tab-wrap,
.newchat-emoji-tab-wrap {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
}

.newchat-emoji-subwrap .emoticon-content a {
  width: 42px;
  height: 42px;
}

.tab-link {
  cursor: pointer;
  border-right: 1px solid #efefef;
  float: left;
}

.tab-link:last-child {
  border-right: 0;
}

.tab-link.current {
  background-color: rgba(0, 0, 0, 0.1);
}

.emo-ico {
  padding: 11px;
  margin: 3px 10px;
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
}

.emo01 {
  background-image: url(../img/emoticon/emoji_ico_off.png);
}

.tab-link.current .emo01 {
  background-image: url(../img/emoticon/emoji_ico_on.png);
}

.emo02 {
  background-image: url(../img/emoticon/emo01/emo01_ico_off.png);
}

.tab-link.current .emo02 {
  background-image: url(../img/emoticon/emo01/emo01_ico_on.png);
}

.emo03 {
  background-image: url(../img/emoticon/emo02/emo02_ico_off.png);
}

.tab-link.current .emo03 {
  background-image: url(../img/emoticon/emo02/emo02_ico_on.png);
}

.emo04 {
  background-image: url(../img/emoticon/emo03/emo03_ico_off.png);
}

.tab-link.current .emo04 {
  background-image: url(../img/emoticon/emo03/emo03_ico_on.png);
}

.emo05 {
  background-image: url(../img/emoticon/emo04/emo04_ico_off.png);
}

.tab-link.current .emo05 {
  background-image: url(../img/emoticon/emo04/emo04_ico_on.png);
}

.emo06 {
  background-image: url(../img/emoticon/emo05/emo05_ico_off.png);
}

.tab-link.current .emo06 {
  background-image: url(../img/emoticon/emo05/emo05_ico_on.png);
}

.emo07 {
  background-image: url(../img/emoticon/emo06/emo06_ico_off.png);
}

.tab-link.current .emo07 {
  background-image: url(../img/emoticon/emo06/emo06_ico_on.png);
}

.emo08 {
  background-image: url(../img/emoticon/emo07/emo07_ico_off.png);
}

.tab-link.current .emo08 {
  background-image: url(../img/emoticon/emo07/emo07_ico_on.png);
}

.emo09 {
  background-image: url(../img/emoticon/emo07/emo07_ico_off.png);
}

.tab-link.current .emo09 {
  background-image: url(../img/emoticon/emo07/emo07_ico_on.png);
}

.comment img {
  width: 100px;
  display: block;
  margin-left: 25px;
  margin-top: 5px;
}

.fileComment {
  margin-left: 25px;
  width: 200px;
  box-sizing: border-box;
  box-shadow: 3px 3px 5px rgb(0 0 0 / 5%);
  border: 1px solid #efefef;
  border-radius: 7px;
  font-size: 11px;
  color: #ababab;
  padding: 13px;
}

.fileComment img {
  cursor: pointer;
  width: 170px;
  display: block;
  max-height: 300px;
}

.fileComment video {
  width: 170px;
  display: block;
  max-height: 300px;
}

.fileComment audio {
  width: 170px;
  display: block;
  max-height: 300px;
}

div.chat-user-list-title>p:nth-child(2),
div.select-lang-title>p:nth-child(2) {
  cursor: pointer;
}

.chat_scroll {
  background-image: url(../img/scroll.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 20px;
  height: 10px;
  bottom: 10px;
  left: calc(50% - 15px);
  position: relative;
  cursor: pointer;
}

.sub_chat_scroll {
  background-image: url(../img/scroll.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 20px;
  height: 10px;
  bottom: 20px;
  left: calc(50% - 15px);
  position: relative;
  cursor: pointer;
}

.trans-wrap {
  width: 220px;
  border: 1px solid #efefef;
  box-sizing: border-box;
  box-shadow: 3px 3px 5px rgb(0 0 0 / 10%);
}

.trans-form-wrap {
  position: relative;
  width: 100%;
  height: auto;
  border-bottom: 1px solid #efefef;
  padding: 10px 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.trans-form-wrap select {
  width: inherit;
  height: inherit;
  background: transparent;
  border: 0 none;
  outline: 0 none;
  padding: 0 10px;
  position: relative;
  z-index: 3;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #333;
  font-size: 13px;
}

.trans-form-wrap select option {
  padding: 3px 0;
  font-size: 13px;
  border-color: #dedede;
}

.trans-form-wrap .select-arr {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 30px;
  height: 38px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.trans-form-wrap .select-arr img {
  transition: .3s;
  width: 10px;
  height: 10px;
}

.trans-form-wrap select:focus+.select-arr img {
  transform: rotate(180deg);
}

.trans-contents {
  padding: 10px;
  max-height: 50px;
  font-size: 14px;
  word-break: break-all;
  overflow-x: hidden;
  overflow-y: auto;
}

.trans-contents::-webkit-scrollbar {
  width: 6px;
}

.trans-contents::-webkit-scrollbar-thumb {
  background: hsla(0, 0%, 42%, 0.3);
  border-radius: 3px;
}

.open_graph {
  cursor: pointer;
  width: 200px;
  display: block;
  margin-left: 25px;
  margin-top: 5px;
  box-shadow: 3px 3px 5px rgb(0 0 0 / 5%);
  box-sizing: border-box;
  border: 1px solid #efefef;
  border-radius: 7px;
}

.open_graph img {
  width: 100%;
  height: 100px;
  object-fit: contain;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.open_graph span {
  word-break: break-all;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: keep-all;
  display: block;
  white-space: nowrap;
  padding: 0 7px;
}

.open_graph span:nth-of-type(1) {
  margin-top: 5px;
  color: #000000;
}

.open_graph span:nth-of-type(2) {
  color: #ababab;
}

.open_graph span:nth-of-type(3) {
  color: #d5d5d5;
  margin: 5px 0;
  padding-bottom: 5px;
  font-size: 10px;
}


/* 220421추가 - 대화상대 목록 자동번역 CSS*/
.language {
  word-break: break-all;
  white-space: nowrap;
  width: 60px;
  text-overflow: ellipsis;
  text-align: right;
  overflow-y: hidden;
  font-size: 13px;
  color: #73818b;
  margin-right: 5px;
}

.lang-btn-wrap {
  width: 36px;
  height: 20px;
  text-align: center;
  position: relative;
}

.lang-btn {
  position: absolute;
  -moz-appearance: none;
  /* Firefox */
  -webkit-appearance: none;
  /* Safari and Chrome */
  appearance: none;
  /* 체크박스 없애기 공통*/
}

.lang-btn+.switch_label {
  position: relative;
  cursor: pointer;
  display: inline-block;
  width: 36px;
  height: 20px;
  background: #fff;
  border: 1px solid #dedede;
  border-radius: 20px;
  transition: 0.2s;
}

.lang-btn:checked+.switch_label::after {
  content: '';
}

.switch_label:hover {
  background: #efefef;
}

.onf_btn {
  position: absolute;
  top: 2px;
  left: 2px;
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 16px;
  background: #73818b;
  transition: 0.2s;
  box-sizing: border-box;
}

.lang-btn:checked+.switch_label:hover {
  background: #f4f4f4;
}

.lang-btn:checked+.switch_label .onf_btn {
  left: 18px;
  background: #6cce2b;
}

.newchat-alret-wrap .language {
  width: 48px;
}

.select-lang-dim {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 1001;
  display: none;
}

.select-lang-dim.active {
  display: block;
}

.select-lang-wrap {
  width: 260px;
  margin: 116px auto 0;
  background-color: #fff;
}

.select-lang-title {
  width: 100%;
  display: inline-flex;
  color: #73818b;
  font-size: 16px;
  padding: 16px 19px;
  border-bottom: 1px solid rgba(115, 129, 139, .1);
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.select-lang-contents {
  width: 100%;
  height: 280px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0 19px;
  box-sizing: border-box;
}

.select-lang-contents::-webkit-scrollbar {
  width: 6px;
}

.select-lang-contents::-webkit-scrollbar-thumb {
  background: hsla(0, 0%, 42%, 0.3);
  border-radius: 3px;
}

.select-lang-list {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.select-lang {
  margin: 10px 0;
  font-size: 13px;
  color: #000;
  display: inline-flex;
  align-items: center;
}

.select-lang label {
  line-height: 16px;
}

.select-lang-btn {
  padding-top: 16px;
  padding-bottom: 16px;
  margin: 0 auto;
  width: 100%;
  display: block;
  background: #73818b;
  text-align: center;
  color: #fff;
  font-size: 13px;
  box-sizing: border-box;
}

.select-lang input[type='radio'] {
  margin: 0 6px 0 0;
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border: 1.5px solid #aaa;
  border-radius: 50%;
  outline: none;
  background: #fff;
}

.select-lang input[type='radio']:before {
  content: '';
  display: block;
  width: 70%;
  height: 70%;
  margin: 15% auto;
  border-radius: 50%;
}

.select-lang input[type='radio']:checked:before {
  background: #000;
}

.newchat-alret-dim .select-lang-wrap {
  width: 240px;
}

/* 220425추가 - 파일모아보기 CSS*/
.gather-file-wrap {
  display: none;
  position: absolute;
  top: 41px;
  left: 0;
  z-index: 200;
  width: 100%;
  background-color: #fff;
}

.gather-file-subwrap {
  height: 524px;
  box-sizing: border-box;
}

.file-menu {
  position: relative;
  padding: 17px 10px;
  cursor: pointer;
  font-size: 14px;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
  box-sizing: border-box;
}

.file-menu::before {
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  font-size: 14px;
  color: #000;
  margin-right: 5px;
}

.gather-image::before {
  content: '\f302';
}

.gather-vod::before {
  content: '\f144';
}

.gather-file::before {
  content: '\f15b';
}

.file-menu.on>span {
  font-weight: bold;
  color: #000;
}

.file-content-wrap {
  display: none;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
}

.file-preview-list {
  list-style-type: none;
  overflow-x: hidden;
  overflow-y: overlay;
  height: 317px;
  display: block;
  margin: 0;
  padding: 5px;
}

.file-preview-list::-webkit-scrollbar {
  width: 6px;
}

.file-preview-list::-webkit-scrollbar-thumb {
  background: hsla(0, 0%, 42%, 0.3);
  border-radius: 3px;
}

.file-preview-image {
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  overflow: hidden;
  margin: 5px;
  display: inline-block;
  float: left;
  position: relative;
  background-color: #000;
  cursor: pointer;
}

.file-preview-image:last-child {
  margin-right: 0;
}

.file-preview-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  opacity: .7;
}

.file-preview-image.active {
  display: inherit;
  border: 3px solid #2bc48a;
}

.file-preview-image:hover img,
.file-preview-image.active img {
  opacity: 1;
  transition: .2s;
}

.file-preview-list li.active::after {
  content: url('../img/select_check_file.svg');
  width: 25px;
  height: 25px;
  position: absolute;
  top: 5px;
  right: 5px;
}

.file-preview-file {
  display: inline-block;
  float: left;
  width: 155px;
  height: 130px;
  background-color: #fff;
  border: 1px solid #efefef;
  box-sizing: border-box;
  margin: 5px;
  padding: 11px 15px 15px;
  font-size: 13px;
  color: #666;
  cursor: pointer;
}

.file-preview-file:last-child {
  margin-right: 0;
}

.file-preview-file.active,
.newchat-gather-file-wrap .file-preview-file.active {
  border: 3px solid #2bc48a;
  position: relative;
}

.file-preview-file:hover {
  color: #000;
}

.gather-file-icon {
  margin: 0;
  font-size: 20px;
}

.gather-file-name {
  word-break: break-all;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  max-height: 32px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 5px 0 8px;
}

.gather-file-date,
.gather-file-size {
  font-size: 11px;
  margin: 0 5px 0 0;
}

.file-selet-count-wrap {
  width: 100%;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 15px 10px;
  background-color: #fff;
  justify-content: space-between;
  box-sizing: border-box;
  border-top: 1px solid #efefef;
  color: #999;
  border-bottom: 1px solid #efefef;
  cursor: pointer;
}

.btn_gather_close {
  font-size: 14px;
  color: #6c7b85;
  background: #e3e9ed;
  padding: 12px 9px;
  text-align: center;
  cursor: pointer;
}

/* 220509추가 - 비밀채팅_파일모아보기 CSS*/
.newchat-gather-file-wrap {
  display: none;
  position: absolute;
  top: 34px;
  left: 0;
  z-index: 200;
  width: 100%;
  background-color: #fff;
}

.newchat-popup-contents .gather-file-subwrap {
  height: 524px;
  box-sizing: border-box;
}

.newchat-popup-contents .file-preview-list {
  list-style-type: none;
  overflow-x: hidden;
  overflow-y: overlay;
  height: 290px;
  display: block;
  margin: 0;
  padding: 5px;
}

.newchat-popup-contents .file-preview-image {
  width: 85px;
  height: 85px;
  box-sizing: border-box;
  overflow: hidden;
  margin: 5px;
  display: inline-block;
  float: left;
  position: relative;
  background-color: #000;
  cursor: pointer;
}

.newchat-popup-contents .file-preview-file {
  display: inline-block;
  float: left;
  width: 135px;
  height: 130px;
  background-color: #fff;
  border: 1px solid #efefef;
  box-sizing: border-box;
  margin: 5px;
  padding: 11px 15px 15px;
  font-size: 11px;
  color: #666;
  cursor: pointer;
}

.newchat-popup-contents .file-preview-file:hover {
  color: #000;
}

.newchat-popup-contents .gather-file-name {
  word-break: break-all;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  max-height: 32px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 5px 0 8px;
}

.newchat-popup-contents .gather-file-date,
.newchat-popup-contents .gather-file-size {
  font-size: 10px;
  margin: 0 5px 0 0;
}

/*220511추가 - 다운로드 진행상황 팝업 CSS*/
.downprogress_dim {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 201;
}

.downprogress_wrap {
  width: 290px;
  background-color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
}

.downprogress_title {
  padding: 20px 20px;
  color: #000;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid #efefef;
  overflow: hidden;
}

.close_ico {
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  border: 0;
  outline: none;
  color: #bbb;
  background-color: rgba(0, 0, 0, 0);
  font-size: 20px;
  cursor: pointer;
}

.downprogress_content_wrap {
  width: 100%;
  text-align: center;
  margin: 20px 0;
  font-size: 13px;
  color: #888;
}

.down_contents_count {
  margin: 10px 0;
}

.down_contents_count span {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  white-space: nowrap;
}

.current_contents {
  width: calc((100% - 10px) / 2);
  text-align: right;
}

.contents_mid {
  width: 10px;
  text-align: center;
  margin: 0 auto;
}

.general_contents {
  width: calc((100% - 10px) / 2);
  text-align: left;
}

.downprogress_bar {
  width: 80%;
  height: 15px;
  appearance: none;
}

.downprogress_bar::-webkit-progress-bar {
  background: #f0f0f0;
  border-radius: 10px;
}

.downprogress_bar::-webkit-progress-value {
  border-radius: 10px;
  background: #2bc48a;
  background: -webkit-linear-gradient(to right, #8eec9f, #2bc48a);
  background: linear-gradient(to right, #8eec9f, #2bc48a);
}

.contents_volume_wrap {
  width: 80%;
  text-align: right;
  margin: 3px auto 0;
  color: #bbb;
}

.down_cancel_btn {
  display: inline-block;
  width: 60px;
  padding: 7px 0;
  margin: 0 auto 20px;
  background-color: #2bc48a;
  color: #fff;
  transition: .2s;
  border: 0;
  outline: none;
  cursor: pointer;
}

.down_cancel_btn:hover {
  background-color: #24a876;
}

.newchat-downprogress_dim {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 201;
}

/* 0213 참여자 제한 팝업 CSS */
#entry.popup_dim {
  position: absolute;
  z-index: 50;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
}

.entry_wrap {
  width: 280px;
  background: #fff;
  box-shadow: 3px 4px 8px 0 rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.entry_title {
  font-size: 16px;
  color: #fff;
  width: 100%;
  height: 40px;
  background: #2bc48a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.entry_contentswrap {
  width: 85%;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.entry_form {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.entry_form label {
  width: 65px;
  font-size: 14px;
  color: #999;
  display: block
}

.entry_form input {
  width: calc(100% - 65px);
  height: 30px;
  border: 1px solid #ededed;
  border-radius: 0;
  outline: 0;
  padding: 0 5px;
  box-sizing: border-box;
}

.entry_form input:focus {
  border: 1px solid #2bc48a;
}

.entry_contents_subtitle {
  font-size: 12px;
  color: #ec2014;
  line-height: 1.5;
  text-align: center;
  display: none;
}

.entry_btnwrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.entry_btnwrap button {
  appearance: none;
  font-size: 12px;
  color: #6c7b85;
  background: #e3e9ed;
  width: 50px;
  height: 30px;
  border: 0;
  outline: 0;
  margin-bottom: 20px;
  transition: 0.2s;
  cursor: pointer;
}

.entry_btnwrap button:hover {
  background: #2bc48a;
  color: #fff;
}