@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}
.chat_wrap{
    width: 100%;
    display: flex;
    border: 1px solid black;
    border-radius: 20px;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.chat_wrap .header {
    font-size: 14px;
    padding: 15px 0px;
    background: #F18C7E;
    color: white;
    text-align: center;
}
#chat{
    width: 100%;
    height: 80%;
    padding: 20px;
    box-sizing: border-box;
    overflow: auto;
}

.chat_wrap #chat .left {
    text-align: left;
}

.chat_wrap #chat .right {
    text-align: right;
}

.chat_wrap #chat {
    font-size: 12px;
}

.chat_wrap #chat .sender {
    margin: 10px 25px 0px 10px;
    font-weight: bold;
}

.chat_wrap #chat .message {
    display: inline-block;
    margin: 5px 20px 0px 10px;
    max-width: 75%;
    border: 1px solid gray;
    padding: 5px;
    border-radius: 5px;
    background-color: #FCFCFC;
    text-align: left;
}

.chat_wrap #chat .date {
    margin: 5px 20px 10px 10px;
    font-size: 10px;
}
.input-div{
    width: 100%;
    height: 20%;
    bottom: 0;
    border-radius: 20px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    overflow: hidden;
    padding: 10px;

}
.chat_wrap .input-div {
    bottom: 0px;
    background-color: #FFF;
    text-align: center;
    border-top: 1px solid #F18C7E;
}

#txtMessage {
    width: 100%;
    height: 80px;
    border: none;
    resize: none;
    outline: none;
}

/*MAIN CONTAINER*/
/*MAIN CONTAINER*/
/*MAIN CONTAINER*/
/*MAIN CONTAINER*/
.mainContainer2{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 50px;
    box-sizing: border-box;
    border-radius: 15px;
    box-shadow: 0px 0px 20px 1px  rgba(0, 0, 0, 0.068);
}
/*MAIN CONTAINER*/
/*MAIN CONTAINER*/
/*MAIN CONTAINER*/
/*MAIN CONTAINER*/


.partyStatus_half{
    width: 48%;
    height: 600px;
}
.userInfo{
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid black;
    border-radius: 20px;
}
.userInfo_img{
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 0 0 5px coral ;
    position: relative;
}
.userInfo_img>img{
    object-fit: cover;
    width: 100%;
}
.partyLeader{
    position: absolute;
    left: 30px;
    bottom: 0px;
    width: 30px;
}
.partyLeader>img{
    width: 100%;
    object-fit: cover;
}
.partHalf{
	overflow: auto;
}