<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <!-- 전체 매퍼중에서 유일한 값을 사용해야한다. 해서 관계적으로 해당 파일의 패스와 파일이름(확장제외) 그리고 dao에서 namespace와 일치해야한다. -->
<mapper namespace="CodeGroup">
	
	<sql id="selectAll">
		cgSeq
		, delNy
		, cgName
	</sql>
	
	<sql id ="selectCommon">
   		FROM teamCodeGroup
		WHERE 1=1
		AND delNy = 0
		<!-- <if test="cgName != null and !cgName.equals('')">AND cgName LIKE CONCAT('%',#{cgName},'%')</if> -->
    </sql>
	
	<select id="selectList" resultType="CodeGroup">
		SELECT
			<include refid="selectAll" />
		FROM teamCodeGroup
		WHERE 1=1
		<if test="cgName != null and !cgName.equals('')">AND cgName LIKE CONCAT('%',#{cgName},'%')</if>
	</select>
	
	<select id="selectOneCount" resultType="Integer">
		SELECT count(*)
		FROM teamCodeGroup
	</select>
	    
	 <select id="selectOne" resultType="CodeGroup">
    	SELECT
    		<include refid="selectAll"></include>
    	FROM
    		teamCodeGroup
    	WHERE
    		cgSeq = #{cgSeq}
    </select>
    
    <update id="update">
    	UPDATE teamCodeGroup
    	SET
    		cgName = #{cgName}
    	WHERE
    		cgSeq = #{cgSeq} 
    </update>
    
    <update id="uelete">
    	UPDATE teamCodeGroup
    	SET
    		delNy = 1
    	WHERE
    		cgSeq = #{cgSeq} 
    </update>
    
    <delete id="delete">
    	DELETE 
    	FROM teamCodeGroup
    	WHERE
    		cgSeq = #{cgSeq}
    </delete>
    
    <insert id="insert">
    	INSERT INTO teamCodeGroup (
    		cgName
    		, delNy
    	) VALUES (
    		#{cgName}
    		, 0
    	)
    </insert>

	<select id="selectOpt" resultType="CodeGroup">
		SELECT
		    <include refid="selectAll"/>
		FROM
		    teamCodeGroup
	</select>
</mapper>    