<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <!-- 전체 매퍼중에서 유일한 값을 사용해야한다. 해서 관계적으로 해당 파일의 패스와 파일이름(확장제외) 그리고 dao에서 namespace와 일치해야한다. -->
<mapper namespace="Party">
	
	<sql id="selectAll">
		seq
		, delNy
		, partyType
		<!-- , partySport -->
		, (SELECT 
			cdName
			FROM teamCode AS cd
   			WHERE 1=1
   			AND cd.cdSeq = p.partySport) AS partySport
		, partyName
		, playerNum
		, playerMax
		, playDt
		, playTimeStart
		, playTimeEnd
		, partyLeader
		, partyDesc
		, toolNy
		, partyGen
		, partyAge
		, madeTime
		, partyLocation
	</sql>
	
	<sql id ="selectCommon">
   		FROM party AS p
		WHERE 1=1
		AND delNy = 0
			<if test="partySport != null and !partySport.equals('')">AND partySport = #{partySport}</if>
			<if test="partyName != null and !partyName.equals('')">AND partyName LIKE CONCAT('%',#{partyName},'%')</if>
			<if test="partyGen != null and !partyGen.equals('')">AND partyGen = #{partyGen}</if>
			<if test="partyAge != null and !partyAge.equals('')">AND partyAge = #{partyAge}</if>
			<if test="playDt != null and !playDt.equals('')">AND playDt = #{playDt}</if>
    </sql>
	
	<select id="selectList" resultType="Party">
		SELECT
			<include refid="selectAll" />
			<include refid="selectCommon" />
	</select>
	
	<select id="selectOneCount" resultType="Integer">
		SELECT count(*)
		FROM party
		WHERE 1=1
		AND delNy = 0
	</select>
	    
	 <select id="selectOne" resultType="Party">
    	SELECT
	    	seq
			, delNy
			, partyType
			, partySport
			, partyName
			, playerNum
			, playerMax
			, playDt
			, playTimeStart
			, playTimeEnd
			, partyLeader
			, partyDesc
			, toolNy
			, partyGen
			, partyAge
			, madeTime
			, partyLocation
    	FROM
    		party
    	WHERE 1=1
    		AND seq = #{seq}
    		<if test="partySport != null and !partySport.equals('')">AND partySport = #{partySport}</if>
    		<if test="partyName != null and !partyName.equals('')">AND partyName LIKE CONCAT('%',#{partyName},'%')</if>
    		<if test="playDt != null and !playDt.equals('')">AND playDt = #{playDt}</if>
    		<if test="partyGen != null and !partyGen.equals('')">AND partyGen = #{partyGen}</if>
    		<if test="partyAge != null and !partyAge.equals('')">AND partyAge = #{partyAge}</if>
    		<if test="partyLocation != null and !partyLocation.equals('')">AND partyLocation LIKE CONCAT('%',#{partyLocation},'%')</if>
    </select>
    
    <select id="selectMyParty" resultType="Party">
    	SELECT
			mpSeq
		    , (SELECT
				cd.cdName
		        FROM teamCode cd
		        WHERE 1=1
		        AND cd.cdSeq = mp.nowStatus
		        ) nowStatus
			, (SELECT
				m.nickname
		        FROM member m
		        WHERE 1=1
		        AND m.seq = mp.myName
		        ) myName
			, (SELECT
				mm.nickname
		        FROM member mm
		        WHERE 1=1
		        AND mm.seq = mp.leaderName
		        ) leaderName
			, (SELECT
				p.partyName
		        FROM party p
		        WHERE 1=1
		        AND p.seq = mp.mpName
		        ) ptName
		    , mp.mpName
			, mp.mpDelNy
		    , mp.updtDt
		FROM myParty mp
		LEFT JOIN teamCode cd ON cd.cdSeq = mp.nowStatus
		LEFT JOIN member m ON m.seq = mp.myName AND mp.leaderName
		LEFT JOIN party p ON p.seq = mp.mpName
		WHERE 1=1
		<if test="myName != null and !myName.equals('')">AND myName = #{myName}</if>
    </select>
    
    <update id="update">
    	UPDATE party
    	SET
    		partyName = #{partyName}
    		, playerMax = #{playerMax}
    		
    	WHERE
    		seq = #{seq} 
    </update>
    
    <update id="uelete">
    	UPDATE party
    	SET
    		delNy = 1
    	WHERE
    		seq = #{seq} 
    </update>
    
    <!-- 회원 유형: 사용자(0), 관리자(1) -->
    <insert id="insert">
    	INSERT INTO party (
    		partyType
    		, partySport
    		, partyName
    		, playerNum
    		, playerMax
    		, playDt
    		, playTimeStart
			, playTimeEnd
			, partyLeader
    		, partyGen
    		, partyAge
    		, partyLocation
    		, madeTime
    		, toolNy
    		, partyDesc
    		, delNy
    	) VALUES (
    		0
    		, #{partySport}
    		, #{partyName}
    		, 1
    		, #{playerMax}
    		, #{playDt}
    		, #{playTimeStart}
    		, #{playTimeEnd}
    		, #{partyLeader}
    		, #{partyGen}
    		, #{partyAge}
    		, #{partyLocation}
    		, #{madeTime}
    		, #{toolNy}
    		, #{partyDesc}
    		, 0
    	)
    </insert>   
    
    <insert id="addMyParty">
    	INSERT INTO myParty (
    		nowStatus
    		, myName
    		, leaderName
    		, mpName
    		, mpDelNy
    		, updtDt
    	) VALUES (
    		18
    		, #{myName}
    		, #{leaderName}
    		, #{mpName}
    		, 0
			, #{updtDt}    		
    	)
    </insert>
    
    <update id="countPlayer">
    	SET @mpCount = (SELECT
							COUNT(mp.mpSeq) mpCount
						FROM myParty mp
    					LEFT JOIN party p ON p.seq = mp.mpName
    					WHERE 1=1
						AND mp.mpName = #{mpName}
						AND mp.nowStatus = #{nowStatus})
		
		UPDATE party p
		SET playerNum = @mpCount + 1
		WHERE 1=1
		AND p.seq = #{mpName}    
    
    </update>
</mapper>    