<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <!-- 전체 매퍼중에서 유일한 값을 사용해야한다. 해서 관계적으로 해당 파일의 패스와 파일이름(확장제외) 그리고 dao에서 namespace와 일치해야한다. -->
<mapper namespace="Party">
	
	<sql id="selectAll">
		seq
		, delNy
		, partyType
		<!-- , partySport -->
		, (SELECT 
			cdName
			FROM teamCode AS cd
   			WHERE 1=1
   			AND cd.cdSeq = p.partySport) AS partySport
		, partyName
		, playerNum
		, playerMax
		, (DATE_FORMAT(playDt, '%Y-%m-%d') ) AS playDt
		, (DATE_FORMAT(playTimeStart, '%p %l:%i') ) AS playTimeStart
		, (DATE_FORMAT(playTimeEnd, '%p %l:%i') ) AS playTimeEnd
		, partyLeader
		, partyDesc
		, toolNy
		, partyGen
		, partyAge
		, madeTime
		, partyLocation
	</sql>
	
	<sql id ="selectCommon">
   		FROM party AS p
		WHERE 1=1
		AND delNy = 0
		<if test="partySport != null and !partySport.equals('')">AND partySport = #{partySport}</if>
		<if test="partyName != null and !partyName.equals('')">AND partyName LIKE CONCAT('%',#{partyName},'%')</if>
		<if test="partyGen != null and !partyGen.equals('')">AND partyGen = #{partyGen}</if>
		<if test="partyAge != null and !partyAge.equals('')">AND partyAge = #{partyAge}</if>
		<if test="playDt != null and !playDt.equals('')">AND playDt = #{playDt}</if>
    </sql>
	
	<select id="selectList" resultType="Party">
		SELECT
			<include refid="selectAll" />
			<include refid="selectCommon" />
	</select>
	
	<select id="selectOneCount" resultType="Integer">
		SELECT count(*)
		FROM party
		WHERE 1=1
		AND delNy = 0
	</select>
	    
	 <select id="selectOne" resultType="Party">
    	SELECT
    		<include refid="selectAll"></include>
    	FROM
    		party
    	WHERE
    		seq = #{seq}
    </select>
    
    <update id="update">
    	UPDATE party
    	SET
    		partyName = #{partyName}
    		, playerMax = #{playerMax}
    		
    	WHERE
    		seq = #{seq} 
    </update>
    
    <update id="uelete">
    	UPDATE party
    	SET
    		delNy = 1
    	WHERE
    		seq = #{seq} 
    </update>
    
    <!-- 회원 유형: 사용자(0), 관리자(1) -->
    <insert id="insert">
    	INSERT INTO party (
    		partyType
    		, partyName
    		, playerNum
    		, playerMax
    		, playDt
    		, playTimeStart
			, playTimeEnd
    		, partyGen
    		, toolNy
    		, delNy
    	) VALUES (
    		"0"
    		, #{partyName}
    		, "1"
    		, #{playerMax}
    		, #{playDt}
    		, #{playTimeStart}
    		, #{playTimeEnd}
    		, #{partyGen}
    		, #{toolNy}
    		, "0"
    	)
    </insert>   
</mapper>    