<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.team.app.infra.code.Code" alias="Code"></typeAlias>
        <typeAlias type="com.team.app.infra.codegroup.CodeGroup" alias="CodeGroup"></typeAlias>
        <typeAlias type="com.team.app.infra.member.Member" alias="Member"></typeAlias>
    </typeAliases>
</configuration>
