<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.team.app.infra.code.CodeMapper">

    <resultMap id="resultMapObj" type="com.team.app.code.Code"></resultMap>

    <select id="selectList" resultMap="resultMapObj">
        select
            cdName,
            cdSeq,
            delNy,
            teamCodeGroup_seq
        from
            teamCode;
    </select>


</mapper>